Locale(
  links: [
    (media: "music", name: "Music"),
    (media: "anime", name: "Anime"),
    (media: "manga", name: "Manga"),
    (media: "film", name: "Film"),
    (media: "games", name: "Videogames"),
  ],
  languages: [
    (short: "en", long: "English"),
    (short: "es", long: "Spanish"),
    (short: "de", long: "German"),
    (short: "fr", long: "French"),
    (short: "ja", long: "Japanese"),
  ],
  category: {
    "artists": "Artists",
    "releases": "Releases",
    "labels": "Labels",
    "genres": "Genres",
  },
  heading: {
    "new_artist": "New Artist",
  },
  text: {
    "search": "Search",
    "submit": "Submit",
    "type": "Type",
    "group": "Group",
    "person": "Person",
    "name": "Name",
    "artist_name": "Artist Name",
    "real_name": "Real Name",
    "first_name": "First Name",
    "last_name": "Last Name",
    "middle_name": "Middle Name",
  },
)
