Locale(
  links: [
    (media: "music", name: "Música"),
    (media: "anime", name: "Anime"),
    (media: "manga", name: "Manga"),
    (media: "film", name: "Película"),
    (media: "games", name: "Videojuegos"),
  ],
  languages: [
    (short: "en", long: "Inglés"),
    (short: "es", long: "Español"),
    (short: "de", long: "Alemán"),
    (short: "fr", long: "Francés"),
    (short: "ja", long: "Japonés"),
  ],
  category: {
    "artists": "Artistas",
    "releases": "Álbumes",
    "labels": "Sellos discográficos",
    "genres": "Géneros",
  },
  heading: {
    "new_artist": "Nuevo artista",
  },
  text: {
    "search": "Buscar",
    "submit": "Enviar",
    "type": "Tipo",
    "group": "Grupo",
    "person": "Persona",
    "name": "Nombre",
    "artist_name": "Nombre del artista",
    "real_name": "Nombre real",
    "first_name": "Nombre de pila",
    "last_name": "Apellido",
    "middle_name": "Segundo nombre",
  },
)
