<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link type="text/css" rel="stylesheet" href="/index.css" />
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body class="h-screen flex flex-col text-gray-900">
  	<nav class="bg-purple-300">
      <ul class="flex text-white">
        {% for link in locale.links %}
          <li>
            {% if link.media == media %}
              <a class="block px-3 py-1 bg-purple-600" href="/{{link.media}}">{{link.name}}</a>
            {% else %}
              <a class="block px-3 py-1 bg-purple-500 hover:bg-purple-600" href="/{{link.media}}">{{link.name}}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
    <div class="px-3 py-2 flex bg-purple-400">
      <input type="text" id="search-input" class="rounded px-3 py-1 text-gray-900" />
      {% if media == "music" %}
        <select
          id="search-category"
          class="bg-purple-500 hover:bg-purple-600 rounded text-white mx-3 px-2 cursor-pointer"
        >
          <option value="artists">Artists</option>
          <option value="releases">Releases</option>
          <option value="labels">Labels</option>
          <option value="genres">Genres</option>
        </select>
      {% endif %}
      <button
        id="search-button"
        data-media="{{media}}"
        class="rounded bg-purple-500 hover:bg-purple-600 text-white px-3"
      >
        Search
      </button>
      <select id="lang" class="px-3 rounded ml-auto">
        {% for language in languages %}
          {% if language.short == lang %}
            <option value="{{language.short}}" selected>{{language.long}}</option>
          {% else %}
            <option value="{{language.short}}">{{language.long}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <main class="bg-purple-300 p-3 flex-grow text-gray-900s">
      <h1 class="text-2xl font-bold text-purple-900">{% block heading %}{% endblock heading %}</h1>
      {% block main %}{% endblock main %}
    </main>
    <script type="text/javascript" src="/index.js"></script>
  </body>
</html>
