<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
  	<nav>
      <ul>
      	{{#each [
          { href: "/music", name: "Music" },
          { href: "/anime", name: "Anime" },
          { href: "/manga", name: "Manga" },
          { href: "/film" , name: "Film"  },
          { href: "/games", name: "Games" },
      	]}}
          <li>
            <a href={{this.href}}>{{this.name}}</a>
          </li>
        {{/each}}
      </ul>
    </nav>
    {{> @partial-block}}
  </body>
</html>
